.button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 1px solid var(--color-white-shade);
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  background-color: var(--color-white);
  transition: 0.1s;
}
.button:focus,
.button:hover,
.button:active {
  background-color: var(--color-white-shade);  
}


.button__primary {
  color: white;
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}
.button__primary:focus,
.button__primary:hover,
.button__primary:active {
  background-color: var(--color-primary-shade);
}

.button__secondary {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
}
.button__secondary:focus,
.button__secondary:hover,
.button__secondary:active {
  background-color: var(--color-secondary-tint);
}

.button__tertiary {
  background-color: var(--color-tertiary);
  border-color: var(--color-tertiary);
}
.button__tertiary:focus,
.button__tertiary:hover,
.button__tertiary:active {
  background-color: var(--color-tertiary-shade);
}

.button__small {
  font-size: 12px;
  padding: 10px 16px;
}
.button__medium {
  font-size: 14px;
  padding: 11px 20px;
}
.button__large {
  font-size: 16px;
  padding: 12px 24px;
}
