.button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 1px solid var(--color-white-shade);
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  background-color: var(--color-white);
  transition: 0.1s;
}
.button:focus,
.button:hover,
.button:active {
  background-color: var(--color-white-shade);  
}


.button--primary {
  color: white;
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}
.button--primary:focus,
.button--primary:hover,
.button--primary:active {
  background-color: var(--color-primary-shade);
}

.button--secondary {
  color: white;
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
}
.button--secondary:focus,
.button--secondary:hover,
.button--secondary:active {
  background-color: var(--color-secondary-shade);
}

.button--tertiary {
  background-color: var(--color-tertiary);
  border-color: var(--color-tertiary);
}
.button--tertiary:focus,
.button--tertiary:hover,
.button--tertiary:active {
  background-color: var(--color-tertiary-shade);
}

.button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.button--large {
  font-size: 16px;
  padding: 12px 24px;
}
